.heroDescription {
  max-width: 700px;
  place-self: center;
}

.heroTitle {
  max-width: 700px;
  place-self: center;
}

.socialIcons {
  display: flex;
  justify-content: center;
}

.socialIcon {
  padding: 1rem;
}